[Unit]
Description=Barrier keyboard/mouse client
PartOf=x-session.target

[Service]
Type=forking
ExecStart=/usr/bin/barrierc --disable-crypto %i.nest

[Install]
WantedBy=x-session.target
