[Unit]
Description=Barrier keyboard/mouse server
PartOf=x-session.target
ConditionHost=falcon

[Service]
ExecStart=/usr/bin/barriers --no-daemon --no-restart --disable-crypto

[Install]
WantedBy=x-session.target
