[Unit]
Description=Barrier keyboard/mouse client
PartOf=x-session.target

[Service]
ExecStart=/usr/bin/barrierc --no-daemon --no-restart --disable-crypto %i.nest
Restart=always

[Install]
WantedBy=x-session.target
