[Unit]
Description=Barrier keyboard/mouse server
PartOf=x-session.target
ConditionFileNotEmpty=%h/.local/share/barrier/.barrier.conf

[Service]
Type=forking
ExecStart=/usr/bin/barriers --disable-crypto

[Install]
WantedBy=x-session.target
