[Unit]
Description=Dunst notification service
PartOf=graphical-session.target

[Service]
ExecCondition=/usr/bin/test ${KDEWM} = /usr/bin/xmonad
ExecStart=/usr/bin/dunst

[Install]
WantedBy=graphical-session.target
