[Unit]
Description=feh wallpaper setter
PartOf=xmonad-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale --no-xinerama --no-fehbg %h/.wallpaper.png
RemainAfterExit=yes

[Install]
WantedBy=xmonad-session.target
