[Unit]
Description=foot terminal server
PartOf=wayland-session.target

[Service]
ExecStart=/usr/bin/foot --server

[Install]
WantedBy=wayland-session.target
