[Unit]
Description=GTK settings
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface gtk-theme 'Breeze-Mine'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface icon-theme 'breeze-dark'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface cursor-theme 'breeze_cursors'
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
