[Unit]
Description=kded5 networkmanagement module
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/test ${KDEWM} = /usr/bin/xmonad
ExecStart=/usr/bin/qdbus org.kde.kded5 /modules/networkmanagement init
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
