[Unit]
Description=picom compositor
PartOf=xmonad-session.target

[Service]
ExecStart=/usr/bin/picom --backend=glx --vsync

[Install]
WantedBy=xmonad-session.target
