[Unit]
Description=picom compositor
PartOf=graphical-session.target

[Service]
ExecCondition=/usr/bin/test $KDEWM = /usr/bin/xmonad
ExecStart=/usr/bin/picom

[Install]
WantedBy=graphical-session.target
