[Unit]
Description=picom compositor
PartOf=xmonad-session.target

[Service]
ExecStart=/usr/bin/picom --experimental-backends --vsync

[Install]
WantedBy=xmonad-session.target
