[Unit]
Description=streaming server in tmux
Requires=tmux.service
After=tmux.service
ConditionPathExists=%h/streamux/bin/streamux

[Service]
Type=forking
ExecStart=%h/streamux/bin/streamux start
ExecStop=%h/streamux/bin/streamux stop
Restart=always

[Install]
WantedBy=default.target
