[Unit]
Description=Taffybar
PartOf=graphical-session.target

[Service]
ExecCondition=/usr/bin/test $KDEWM = /usr/bin/xmonad
ExecStart=/usr/bin/taffybar

[Install]
WantedBy=graphical-session.target
