[Unit]
Description=Taffybar status widgets
BindsTo=taffybar.service
After=taffybar.service

[Service]
ExecStart=/bin/sh -c '~/bin/taffybar-status'

[Install]
WantedBy=taffybar.service
