[Unit]
Description=tmux terminal multiplexer server
ConditionUser=!root

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %H -d
ExecStop=/usr/bin/tmux kill-server
Restart=always

[Install]
WantedBy=default.target
