[Unit]
Description=VPN connection launcher
After=plasma-networkmanagement.service
ConditionHost=hawk

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli connection up umd-oitmr
ExecStop=/usr/bin/nmcli connection down umd-oitmr
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
