[Unit]
Description=VPN connection launcher
PartOf=graphical-session.target
After=plasma-networkmanagement.service
ConditionHost=eagle

[Service]
Type=oneshot
ExecStart=/usr/bin/nmcli connection up umd-oitmr

[Install]
WantedBy=graphical-session.target
