[Unit]
Description=Sway workspaces widgets for Waybar
PartOf=waybar.service

[Service]
ExecCondition=/usr/bin/test x$SWAYSOCK != x -a -S $SWAYSOCK
ExecStart=/bin/sh -c '~/bin/waybar-sway-workspaces 10'

[Install]
WantedBy=waybar.service
