[Unit]
Description=Waybar
PartOf=graphical-session.target

[Service]
ExecCondition=/usr/bin/test $XDG_SESSION_TYPE == wayland
ExecStart=/usr/bin/waybar

[Install]
WantedBy=graphical-session.target
