[Unit]
Description=Sway workspaces widgets for Waybar
BindsTo=waybar.service
After=waybar.service

[Service]
ExecStart=/bin/sh -c '~/bin/waybar-sway-workspaces 10'

[Install]
WantedBy=waybar.service
