[Unit]
Description=Waybar
PartOf=graphical-session.target

[Service]
ExecCondition=/usr/bin/test x$XDG_SESSION_TYPE = xwayland
ExecStart=/usr/bin/waybar

[Install]
WantedBy=graphical-session.target
