[Unit]
Description=Sway workspaces widgets for Waybar
BindsTo=waybar.service

[Service]
ExecStart=%h/bin/waybar-sway-workspaces 10

[Install]
WantedBy=waybar.service
