[Unit]
Description=restore X resources overwritten by Plasma
PartOf=plasma-session.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/test -S ${SWAYSOCK}
ExecStart=/usr/bin/xrdb -merge /etc/sway/Xresources
RemainAfterExit=yes

[Install]
WantedBy=plasma-session.target
