[Unit]
Description=load X resources
PartOf=xmonad-session.target
After=xmonad-x-resources.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xsetroot -cursor_name left_ptr
RemainAfterExit=yes

[Install]
WantedBy=xmonad-session.target
