<% text_scaling_factor = @facts['scaling'] ? @facts['scaling']['text'] : 1 -%>
import Control.Concurrent.MVar
import Control.Monad
import Control.Monad.IO.Class
import Control.Monad.Reader.Class
import Control.Monad.Trans.Class
import Data.Int
import Data.List
import Data.List.Utils (replace)
import qualified Data.Map as M
import qualified Data.Text as T
import qualified GI.Gtk as Gtk
import qualified GI.Gdk as Gdk
import System.Directory
import System.Taffybar
import System.Taffybar.Context (TaffyIO)
import System.Taffybar.SimpleConfig
import System.Taffybar.Widget.CommandRunner
import System.Taffybar.Widget.Layout
import System.Taffybar.Widget.SimpleClock
import System.Taffybar.Widget.Util
import System.Taffybar.Widget.Windows
import System.Taffybar.Widget.Workspaces
import System.Taffybar.Information.EWMHDesktopInfo
import System.Process

wrap :: String -> String -> String -> String
wrap start end text = start ++ text ++ end

fontAwesomeMarkup :: String -> String
fontAwesomeMarkup = wrap "<span font='FontAwesome 5 Free Solid'>" "</span>"

replaceAll :: String -> [(String, String)] -> String
replaceAll s transformations =
    foldr ($) s $ map (\(from, to) -> replace from to) transformations

workspaceRename :: String -> String
workspaceRename s = replaceAll s $
    [ ("\x00a0" , "")
    , ("web"    , fontAwesomeMarkup "\xf0ac") -- fa-globe
    , ("dev"    , fontAwesomeMarkup "\xf121") -- fa-code
    , ("ops"    , fontAwesomeMarkup "\xf120") -- fa-terminal
    , ("music"  , fontAwesomeMarkup "\xf001") -- fa-music
    , ("mail"   , fontAwesomeMarkup "\xf0e0") -- fa-envelope
    , ("chat"   , fontAwesomeMarkup "\xf075") -- fa-comment
    ] ++ (map (\s -> (s, fontAwesomeMarkup "\xf069")) unnamed)  -- fa-asterisk
  where
    unnamed = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"]

workspaceDecorator :: String -> String -> Bool -> String -> String
workspaceDecorator fg bg bold s =
    (colorize fg bg . fontWeight . wrap " " " " . workspaceRename $ s) ++ endSep
  where
    fontWeight
      | bold      = wrap "<b>" "</b>"
      | otherwise = id
    endSep
      | '\x00a0' `notElem` s = ""
      | otherwise            = colorize bg "#000000" "\xe0b0"

workspacesLabelSetter :: Workspace -> WorkspacesIO String
workspacesLabelSetter workspace = do
    workspacesRef <- asks workspacesVar
    workspaces    <- lift $ readMVar workspacesRef
    let nonEmptyWorkspaces  = filter (\(_, w) -> workspaceState w /= Empty) $ M.toList workspaces
    let (lastWsIdx, _)      = last nonEmptyWorkspaces
    let wsIdx@(WSIdx wsNum) = workspaceIdx workspace
    let endMarker           = if wsIdx == lastWsIdx then "\x00a0" else ""
    let name                = (show $ wsNum + 1) ++ ": " ++ workspaceName workspace ++ endMarker
    return $ case workspaceState workspace of
        Active  -> workspaceDecorator "#282828" "#7cafc2" True name
        Visible -> workspaceDecorator "#d8d8d8" "#383838" False name
        Hidden  -> workspaceDecorator "#d8d8d8" "#282828" False name
        Urgent  -> workspaceDecorator "#282828" "#f7ca88" False name
        Empty   -> name

workspacesConfig :: WorkspacesConfig
workspacesConfig = defaultWorkspacesConfig
    { widgetBuilder        = buildButtonController buildLabelController
    , labelSetter          = workspacesLabelSetter
    , showWorkspaceFn      = hideEmpty
    , urgentWorkspaceState = True
    }

layoutConfig :: LayoutConfig
layoutConfig = defaultLayoutConfig
    { formatLayout = layoutLabeler }
  where
    layoutLabeler label = do
      return . T.pack . colorize "#d8d8d8" "#383838" . wrap " " (" " ++ (colorize "#383838" "#000000" "\xe0b0")) . T.unpack $ label

windowsConfig :: WindowsConfig
windowsConfig = defaultWindowsConfig
    { getActiveLabel = activeWindowLabeler }
  where
    activeWindowLabeler = do
      label <- truncatedGetActiveLabel 100
      return . T.pack . colorize "#d8d8d8" "#000000" . wrap " " " " . T.unpack $ label

statusWidget :: String -> TaffyIO Gtk.Widget
statusWidget cmd = do
    dataDir <- liftIO $ getXdgDirectory XdgConfig "taffybar"
    widget <- commandRunnerNew 0 (dataDir ++ "/status/" ++ cmd) [] $ T.pack ""
    ebox <- Gtk.eventBoxNew
    Gtk.containerAdd ebox widget
    Gtk.eventBoxSetVisibleWindow ebox False
    Gtk.onWidgetButtonPressEvent ebox $ onClick [Gdk.EventTypeButtonPress] (spawnCommand "xlogo")
    Gtk.widgetShowAll ebox
    Gtk.toWidget ebox

taffybarConfig :: SimpleTaffyConfig
taffybarConfig = defaultSimpleTaffyConfig
    { monitorsAction = return [0]
    , startWidgets   = [workspaces, windows]
    , endWidgets     = [clock, audioStatus, powerStatus, networkStatus, loadStatus]
    , barHeight      = <%= (18 * text_scaling_factor).round %>
    , widgetSpacing  = 0
    }
  where
    workspaces    = workspacesNew Main.workspacesConfig
    layout        = layoutNew layoutConfig
    windows       = windowsNew windowsConfig
    clock         = textClockNew Nothing ((colorize "#383838" "#282828" "\xe0b2") ++ (colorize "#383838" "#383838" "\x2588") ++ (colorize "#d8d8d8" "#383838" "%a %b %_d %r ")) 1
    audioStatus   = statusWidget "audio"
    powerStatus   = statusWidget "power"
    networkStatus = statusWidget "network"
    loadStatus    = statusWidget "load"

main :: IO ()
main = simpleTaffybar taffybarConfig

-- vim: filetype=haskell
